
// List of parameters that can be passed to this workflow
params.targets = "/restricted/projectnb/cbmhive/references/Exome_Targets/truseq-rapid-exome-targeted-regions-manifest-v1-2.Homo_sapiens_assembly19.interval_list"
params.baits = "/restricted/projectnb/cbmhive/references/Exome_Targets/truseq-rapid-exome-probes-manifest-v1-2.Homo_sapiens_assembly19.interval_list"
params.ref = "/restricted/projectnb/cbmhive/references/Homo_Sapiens/hg19/Homo_sapiens_assembly19.fasta"
params.gatk_jar = "/share/pkg.7/gatk/3.8-1/install/GenomeAnalysisTK.jar"
params.picard_jar = "/share/pkg.7/picard/2.18.11/install/bin/picard.jar"
params.gold_indels1 = "/restricted/projectnb/cbmhive/references/Homo_Sapiens/hg19/1000G_phase1.snps.high_confidence.b37.vcf"
params.gold_indels2 = "/restricted/projectnb/cbmhive/references/Homo_Sapiens/hg19/Mills_and_1000G_gold_standard.indels.b37.sites.vcf"
params.dbsnp = "/restricted/projectnb/cbmhive/references/Homo_Sapiens/hg19/dbsnp_138.b37.vcf"
params.output_dir = "/restricted/projectnb/pcga/Exome_Seq/Data/20190701_USURW_WES/output"
params.infile_header = true


// Project used for SGE cluster
PROJECT = 'pcga'

executor {
  name = 'sge'
  queueSize = 1000
}

process {
  // Global cluster parameters
  beforeScript = 'source $HOME/.bashrc'  
  scratch=true
  module=['java/1.8.0_181','bwa/0.7.17','fastqc/0.11.7','python2/2.7.16','multiqc/1.6','samtools/1.9']
  errorStrategy='finish'

  
  // Specific cluster parameters for each process
  withName: runFastqToSam {
  	clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G -l scratch=25G -pe omp 2"
  }	
  withName: runMarkIlluminaAdapters {
  	clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G -l scratch=25G -pe omp 2"
  }	
  withName: runBWA {
  	clusterOptions = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_per_core=2G -pe omp 16 -l scratch=25G"
  }	
  withName: runMarkDuplicates {
  	clusterOptions = "-P ${PROJECT} -l h_rt=48:00:00 -l mem_per_core=5G -pe omp 6 -l scratch=25G"
  }	
  withName: runRealignerTargetCreator {
  	clusterOptions = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_total=25G -l scratch=25G -pe omp 3"
  }	
  withName: runIndelRealigner {
  	clusterOptions = "-P ${PROJECT} -l h_rt=192:00:00 -l mem_total=28G -l scratch=25G -pe omp 3 -l mem_per_core=14"
  }
  withName: runBaseRecalibrator {
  	clusterOptions = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_total=30G -pe omp 3 -l scratch=25G -pe omp 3"
  }	
  withName: runPrintReads {
  	clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=25G -l scratch=25G -pe omp 3"
  }	
  withName: runBaseRecalibratorPostRecal {
  	clusterOptions = "-P ${PROJECT} -l h_rt=48:00:00 -l mem_total=5g -l scratch=25G -pe omp 3"
  }	
  withName: runAnalyzeCovariates {
  	clusterOptions = "-P ${PROJECT} -l h_rt=12:00:00 -l mem_total=5G -l scratch=25G"
  }	
  withName: runDepthOfCoverage {
  	clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G -l scratch=25G -pe omp 3"
  }	
  withName: runCollectMultipleMetrics {
  	clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G -l scratch=25G -pe omp 3"
  }	
  withName: runHybridCaptureMetrics {
  	clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G -l scratch=5G -pe omp 3"
  }	
  withName: runFastQC {
  	clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G -l scratch=5G"
  }	
  withName: runOxoGMetrics {
  	clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G -l scratch=5G -pe omp 3"
  }	
  withName: runMultiQCFastq {
  	clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G -l scratch=5G"
  }	
  withName: runMultiQCLibrary {
  	clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G -l scratch=5G"
  }	
  withName: runMultiQCSample {
  	clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G -l scratch=5G"
  }	
}
