
// List of parameters that can be passed to this workflow
params.infile = ""
params.infile_header = true
params.output_dir = ""
params.prefix = ""

// Project used for SGE cluster (e.g., PROJECT = "pulmseq")
PROJECT = 

params.targets = "/restricted/projectnb/cbmhive/references/Exome_Targets/truseq-rapid-exome-probes-manifest-v1-2.Homo_sapiens_assembly19.interval_list"
params.baits = "/restricted/projectnb/cbmhive/references/Exome_Targets/SureSelect_Human_All_Exon_V4_plus_UTRs_PlusFlank100bp.Homo_sapiens_assembly19.targets.interval_list"
params.ref = "/restricted/projectnb/cbmhive/references/Homo_Sapiens/hg19/Homo_sapiens_assembly19.fasta"
params.gatk_jar = "/share/pkg/gatk/3.5/install/GenomeAnalysisTK.jar"
params.picard_jar = "/share/pkg/picard/2.8.0/install/lib/picard.jar"
params.gold_indels1 = "/restricted/projectnb/cbmhive/references/Homo_Sapiens/hg19/1000G_phase1.snps.high_confidence.b37.vcf"
params.gold_indels2 = "/restricted/projectnb/cbmhive/references/Homo_Sapiens/hg19/Mills_and_1000G_gold_standard.indels.b37.sites.vcf"
params.dbsnp = "/restricted/projectnb/cbmhive/references/Homo_Sapiens/hg19/dbsnp_138.b37.vcf"

//Module versions
params.modules = [
  java:"java/1.8.0_66",
  bwa:"bwa/0.7.12",
  fastqc:"fastqc/0.11.3",
  python:"python/2.7.12",
  multiqc:"multiqc/0.9",
  samtools:"samtools",
  r:"R/3.3.2",
  gcc:"gcc/5.1.0"
]

process {
  // Global cluster parameters
  executor='sge'
  scratch=true

  // Specific cluster parameters for each process
  $runAnalyzeCovariates.clusterOptions           = "-P ${PROJECT} -l h_rt=12:00:00 -l mem_total=5G"
  $runBaseRecalibrator.clusterOptions            = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_total=94G -pe omp 2"
  $runBaseRecalibratorPostRecal.clusterOptions   = "-P ${PROJECT} -l h_rt=48:00:00 -l mem_total=5G"
  $runBWA.clusterOptions                         = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_total=5G -pe omp 12"
  $runCollectMultipleMetrics.clusterOptions      = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=25G"
  $runDepthOfCoverage.clusterOptions             = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=10G"
  $runFastQC.clusterOptions                      = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G"
  $runFastqToSam.clusterOptions                  = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G"
  $runHybridCaptureMetrics.clusterOptions        = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=10G"
  $runIndelRealigner.clusterOptions              = "-P ${PROJECT} -l h_rt=192:00:00 -l mem_total=94G"
  $runMarkDuplicates.clusterOptions              = "-P ${PROJECT} -l h_rt=48:00:00 -l mem_total=94G -pe omp 5"
  $runMarkIlluminaAdapters.clusterOptions        = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=6G"
  $runMultiQCFastq.clusterOptions                = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=1G"
  $runMultiQCLibrary.clusterOptions              = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=1G"
  $runMultiQCSample.clusterOptions               = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=1G"
  $runOxoGMetrics.clusterOptions                 = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=10G"
  $runPrintReads.clusterOptions                  = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=25G"
  $runRealignerTargetCreator.clusterOptions      = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_total=94G"
}


