
// List of parameters that can be passed to this workflow
params.targets = "SureSelect_Human_All_Exon_V4_plus_UTRs.UCSC_hg19.targets.interval_list"
params.baits = "SureSelect_XT_V4_plusUTRs_baits.UCSC_hg19.capture.interval_list"
params.ref = "ucsc.hg19.fasta"
params.gatk_jar = "/share/pkg/gatk/3.5/install/GenomeAnalysisTK.jar"
params.picard_jar = "/share/pkg/picard/2.8.0/install/lib/picard.jar"
params.gold_indels1 = "1000G_phase1.indels.hg19.sites.vcf"
params.gold_indels2 = "Mills_and_1000G_gold_standard.indels.hg19.sites.vcf"
params.dbsnp = "dbsnp_138.hg19.vcf"
params.output_dir = "outputDir"
params.infile_header = true


// Project used for SGE cluster authentification
// May need to delete depending on how your cluster is set up
PROJECT = 'pcga'

process {
  // Global cluster parameters
  executor='sge'

  // Specific cluster parameters for each process
  $runFastqToSam.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G"
  $runMarkIlluminaAdapters.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=6G"
  $runBWA.clusterOptions = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_total=5G -pe omp 12"
  $runMarkDuplicates.clusterOptions = "-P ${PROJECT} -l h_rt=48:00:00 -l mem_total=94G -pe omp 5"
  $runRealignerTargetCreator.clusterOptions = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_total=94G"
  $runIndelRealigner.clusterOptions = "-P ${PROJECT} -l h_rt=192:00:00 -l mem_total=94G"
  $runBaseRecalibrator.clusterOptions = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_total=94G -pe omp 2"
  $runPrintReads.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=25G"
  $runBaseRecalibratorPostRecal.clusterOptions = "-P ${PROJECT} -l h_rt=48:00:00 -l mem_total=5g"
  $runAnalyzeCovariates.clusterOptions = "-P ${PROJECT} -l h_rt=12:00:00 -l mem_total=5G"
  $runDepthOfCoverage.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=10G"
  $runCollectMultipleMetrics.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=25G"
  $runHybridCaptureMetrics.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=10G"
  $runFastQC.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G"
  $runOxoGMetrics.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=10G"
  $runMultiQCFastq.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=1G"
  $runMultiQCLibrary.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=1G"
  $runMultiQCSample.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=1G"
}
